@{
    ViewBag.Title = "Index Page";
   
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message.</h1>
                <h2>@ViewBag.Title</h2>
                
                
            </hgroup>
            
        </div>
    </section>
}

@{
    var users = ViewBag.users;
}


<ul>

</ul>


