/* DEFAULTS
----------------------------------------------------------*/
body
{
    background: #CDCDCD;
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color:red;
}

a:hover
{
    color: red;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

.clearfix
{
    clear: both;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    min-height: 420px;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #7C8188;
    width: 100%;
}

.header h1, .header h3
{
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #FFFFFF;
}

.main
{
    width: 83%;
    float: right;
}


/* Categories Box   
----------------------------------------------------------*/

.sidebar
{
    width: 15%;
    position: relative;
    background: #FFFFFF;
    min-height: 200px;
    float: left;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-left: 5px;
}

.sidebar a
{
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar b
{
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight:normal;
    display:block;
}

.sidebar p
{
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline;
    color:#7C8188;
}
.sidebar h3
{
    margin-top: 0px;
    text-align: center;
    color: #FFFFFF;
    background-color: #7C8188;
    margin-bottom: 5px;
}


/* GumBall List
----------------------------------------------------------*/



#GumBallList .GumBallcontainer
{
    margin-top: 20px;
    width: 796px;
    height: 94px;
}

#GumBallList img
{
    float: left;
}

#GumBallList a
{
    float: left;
    margin-top: 1px;
    margin-left: 10px;
    font-size: x-large;
    text-decoration: none;
    width: 726px;
}

#GumBallList .discription
{
    float: left;
    margin-top: 1px;
    margin-left: 10px;
    width: 300px;
    height: 50px;
    overflow: hidden;
}

#GumBallList .spacer
{
    float: left;
    margin-top: 1px;
    height: 50px;
    width: 426px;
}

/* GumBall Details
----------------------------------------------------------*/
#GumBallDetails .LogoContainer
{
    float: left;
    width: 201px;
}

#GumBallDetails .DetailsContainer
{
    float: left;
    width: 585px;
    height: 250px;
    margin-top: 5px;
    margin-left: 10px;
}

#GumBallDetails .DetailsContainer h3
{
    font-size: x-large;
    margin-bottom: 0;
    padding-bottom: 0;
}

#GumBallDetails .Discription
{
    margin-left: 20px;
    font-size: large;
}

#GumBallDetails img
{
    margin-top: 25px;
    float: left;
}

